<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>miniChat</title>
    <script src="/static/layui/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/static/layui/css/layui.css" tppabs="/static/layui/css/layui.css" media="all">
    <script src="/static/js/jquery-1.7.2.js"></script>
    <script src="/static/js/jquery.cookie-1.4.1.min.js"></script>
    <script src="/static/user.js"></script>
</head>
<body style="width: 400px;height: 800px;box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);" class="layui-container">

