<div class="layui-tab-item layui-show">
    <div class="layui-col-xs12" id="mes">
        <div class="layui-panel">
            <div style="padding: 30px;">
                <button type="button" onclick=closeWs()>弹出窗口</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" charset="UTF-8">
    var ws = null;
    var Data = new Array()
    ws = new WebSocket("ws://localhost:8080/socket/socketall?sender=" + "{{.user.Name}}" + "&identity=" + "{{.user.Identity}}")
    ws.onerror = function () {
        console.log("连接错误")
    }
    ws.onopen = function () {
        console.log("连接成功，状态码：" + ws.readyState)
    }
    ws.onclose = function () {
        console.log("连接已关闭")
    }
    window.onbeforeunload = function () {
        ws.close()
    }
    ws.onmessage = function (data) {
        var c = JSON.parse(data.data)
        var arrName = c
        Data.push(arrName)
        var mesData = {
            type:c.type,
            context:c.context,
            time:c.time,
        }
        var sessionMes = sessionStorage.getItem(c.name)
        if (sessionMes===null){
            var userMesData = [mesData]
            sessionStorage.setItem(c.name,JSON.stringify(userMesData))
        }else {
            var ll = JSON.parse(sessionMes)
            ll.push(mesData)
            sessionStorage.setItem(c.name,JSON.stringify(ll))

        }
        var slr = "/web/miniChat?name=" + "{{.user.Name}}" + "&identity=" + "{{.user.Identity}}" + "&client=" + c.name
        if ($('#' + c.name).length > 0) {
            document.getElementById(c.name + 'a').innerText = c.name + c.context
        } else {
            $("#mes").prepend('<a id=' + c.name + ' href=' + slr + '>' + '<div class="layui-panel" >' +
                '<div style="padding: 30px;">' +
                '<img src=' +
                c.name+
                '>'+
                '<span  id=' + c.name + 'a' + '>' + c.name + '<br>' + c.context + '</span>' + '</div>' +
                '</div>' + '</a>');
        }
    }
function imageAjax(data) {
        $.ajax({

        })
}
</script>
